# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.my-app.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Maxim\Documents\RGRTU\Проба проектов\my-app\.idea\.idea.my-app.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
