# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Ex.1.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Maxim\Documents\RGRTU\Математические основы принятия решений\Упр 1\Ex.1\.idea\.idea.Ex.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
