# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GraphColoring.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Maxim\Documents\RGRTU\Дискретная математика\Lab_4\GraphColoring\.idea\.idea.GraphColoring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
