# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RGRTU.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Maxim\Documents\RGRTU\.idea\.idea.RGRTU.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
